<ul>
    <li><a asp-controller="LogicApps" asp-action="SumarNumerosFlow" class="btn btn-outline-success">Sumar Numeros</a></li>
    <li><a asp-controller="LogicApps" asp-action="Tabla" class="btn btn-outline-success">Tabla multiplicar</a></li>
    <li><a asp-controller="LogicApps" asp-action="Series" class="btn btn-outline-success">Series</a></li>
    <li><a asp-controller="LogicApps" asp-action="LoginLogicApps" class="btn btn-outline-success">Login</a></li>
</ul>