<h1 style="color:blueviolet">Sumar Números flow</h1>


<form method="post">
    <label>Numero 1</label>
    <input type="number" name="num1" class="form-control" required />
    <label>Numero 2</label>
    <input type="number" name="num2" class="form-control" required />
    <button class="btn btn-success">
        Sumar números
    </button>
</form>
<h1 style="color:green">
    @ViewData["MENSAJE"]
</h1>